<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>locl</key>
  <array>
    <string>uni5DBC</string>
    <string>uni64E7</string>
    <string>uni65DF</string>
    <string>uni6AF8</string>
    <string>uni6B05</string>
    <string>uni6B5F</string>
    <string>uni74B5</string>
    <string>uni791C</string>
    <string>uni7A65</string>
    <string>uni7C45</string>
    <string>uni8207</string>
    <string>uni8209</string>
    <string>uni85C7</string>
    <string>uni8977</string>
    <string>uni8B7D</string>
    <string>uni8F5D</string>
    <string>uni9C6E</string>
    <string>uni9E12</string>
  </array>
  <key>locl2</key>
  <array>
    <string>cid16585</string>
    <string>cid19728</string>
    <string>cid20180</string>
    <string>cid22366</string>
    <string>cid22392</string>
    <string>cid22564</string>
    <string>cid26697</string>
    <string>cid28626</string>
    <string>cid29232</string>
    <string>cid30264</string>
    <string>cid33203</string>
    <string>cid33207</string>
    <string>cid35390</string>
    <string>cid37251</string>
    <string>cid38358</string>
    <string>cid39927</string>
    <string>cid45947</string>
    <string>cid46583</string>
  </array>
  <key>locl3</key>
  <array>
    <string>uni399B</string>
    <string>uni5DBC</string>
    <string>uni64E7</string>
    <string>uni6511</string>
    <string>uni65DF</string>
    <string>uni6AF8</string>
    <string>uni6B05</string>
    <string>uni6B5F</string>
    <string>uni74B5</string>
    <string>uni791C</string>
    <string>uni7A65</string>
    <string>uni7C45</string>
    <string>uni8207</string>
    <string>uni8209</string>
    <string>uni85C7</string>
    <string>uni8977</string>
    <string>uni8B7D</string>
    <string>uni8F5D</string>
    <string>uni9C6E</string>
    <string>uni9E12</string>
  </array>
  <key>locl4</key>
  <array>
    <string>cid4000</string>
    <string>cid16586</string>
    <string>cid19729</string>
    <string>cid19827</string>
    <string>cid20181</string>
    <string>cid22367</string>
    <string>cid22393</string>
    <string>cid22565</string>
    <string>cid26698</string>
    <string>cid28627</string>
    <string>cid29233</string>
    <string>cid30265</string>
    <string>cid33204</string>
    <string>cid33208</string>
    <string>cid35391</string>
    <string>cid37252</string>
    <string>cid38359</string>
    <string>cid39928</string>
    <string>cid45948</string>
    <string>cid46584</string>
  </array>
</dict>
</plist>
